{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="\media\default\logos.png" rel="icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    {% if page_title %}
    <title>CODERSHUB</title>
    {% else %}
    <title>CODERSHUB</title>
    {% endif %}
    <link rel="stylesheet" href="{% static 'vendor/assets/font-awesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/assets/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/assets/mdb-blogtemplate/css/mdb.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/assets/mdb-blogtemplate/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/assets/default/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/assets/default/css/home.css' %}">
    <link rel="stylesheet" href="path/to/swiper.min.css">
    
    <script src="path/to/swiper.min.js"></script>
    <script src="{% static 'vendor/assets/font-awesome/js/all.min.js' %}"></script>
    <script src="{% static 'vendor/assets/default/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'vendor/assets/default/js/general.js' %}"></script>
    <script src="{% static 'vendor/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/assets/bootstrap/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/assets/mdb-blogtemplate/js/mdb.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    {% block headerContent %} {% endblock headerContent %}

</head>
<body class="bg-dark" style="padding-top: 10%;">

{% load static %}

{% block pageContent %}

<div class="container-fluid pt-5">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="card rounded-0 shadow">
                <a class="nav-link text-warning fw-bold justify-content-end fw-bold" href="{% url 'home-page' %}">Home</a>
                <div class="card-header">
                    <h4 class="card-title text-center fw-bold">Login</h4>
                </div>
                <div>
                    {%load socialaccount %}
                    <a href="{% provider_login_url 'google' %}?next=/">google</a>
                </div>
                <div class="card-body">
                    <form id="login-user">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control rounded-0" id="username" name="username" placeholder="Enter your ID number" required="required">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control rounded-0" id="password" name="password" placeholder="Enter password" required="required">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="remember_me" name="remember_me" required="required">
                            <label class="form-check-label" for="remember_me">Remember Me</label>
                        </div>
                        <div class="mb-4">
                            <div class="d-flex justify-content-center align-items-center">
                                <button class="btn btn-primary rounded-pill">Login</button>
                            </div>
                            <div class="text-center mt-2">
                                <p>Don't have an account? <a href="{% url 'register-user' %}">Signup</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock pageContent %}


{% block ScriptBlock %}
<script>
    $(function() {
        function start_loader() {
            // Code to start the loader
            // Example: $('body').addClass('loading');
        }

        function end_loader() {
            // Code to end the loader
            // Example: $('body').removeClass('loading');
        }

        $('#login-user').submit(function(e) {
            e.preventDefault();
            var _this = $(this)
            $('.err-msg').remove();
            var el = $('<div>')
            el.addClass("alert alert-danger err-msg")
            el.hide()
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'login-user' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: err => {
                    console.log(err)
                    alert_toast("An error occured", 'error');
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        el.removeClass("alert alert-danger err-msg")
                        location.href = "{% url 'home-page' %}"
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.text(resp.msg)
                    } else {
                        el.text("An error occured", 'error');
                        end_loader();
                        console.err(resp)
                    }
                    _this.prepend(el)
                    el.show('slow')
                    $("html, body, .modal").scrollTop(0);
                    end_loader()
                }
            })
        })
    })
</script>
{% endblock ScriptBlock %}

</body>
</html>