{% extends 'base.html' %}{% load static %}{% block pageContent %}
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
            <div class="card card-default rounded-0 shadow">
                <div class="card-header">
                    <h4 class="card-title fw-bold">Change Password</h4>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <form method="POST" name="change_password" onsubmit="return checkPassword()" action="{% url 'change_password' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mdc-layout-grid">
                                <div class="mdc-layout-grid__inner">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group mb-3">
                                                <label for="username" class="control-label">Username</label>
                                                <input type="text" class="form-control rounded-0" name="username" id="username" value="{{request.user.username}}" readonly>
                                            </div>
                                            <div class="form-group mb-3">
                                                <label for="new_password" class="control-label">New Password</label>
                                                <input type="password" class="form-control rounded-0" name="new_password" placeholder="Enter a new password" id="new_password" required="required">
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mb-3">
                                                <label for="current_password" class="control-label">Current Password</label>
                                                <input type="password" class="form-control rounded-0" name="current_password" id="current_password" placeholder="Current Password" required="required">
                                            </div>
                                            <div class="form-group mb-3">
                                                <label for="confirm_password" class="control-label">Confirm Password</label>
                                                <input type="password" class="form-control rounded-0" name="confirm_password" id="confirm_password"
                                                placeholder="Confirm the new Password" required="required">
                                            </div>
    
                                        </div>
                                    </div>
    
                                    {% for field in form1 %} {% for error in field.errors %}
                                    <div class="alert alert-danger my-2">
                                        <p>{{ error }}</p>
                                    </div>
                                    {% endfor %} {% endfor %} {% for field in form2 %} {% for error in field.errors %}
                                    <div class="alert alert-danger my-2">
                                        <p>{{ error }}</p>
                                    </div>
                                    {% endfor %} {% endfor %}
                                    <div class="form-group mb-3">
                                        <div class="d-flex w-100 justify-content-end">
                                            <button class="btn btn-sm rounded-4 btn-warning col-4 fw-bold fs-4">Update</button>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </form>
                        {% block script %}
            <script>
                function checkPassword() {
                    if (document.change_password.new_password.value != document.change_password.confirm_password.value) {
                        alert("New Password and Confirm Password fields do not match each other.");
                        document.change_password.confirm_password.focus();
                        return false;
                    }
                    return true;
                }
    
                {% if alert %}
                    alert("Password Updated Successfully.");
                    document.location = "/logout";
                {% endif %}
    
                {% if currpasswrong %}
                    alert("Current Password is wrong.");
                    document.location = "/change_password";
                {% endif %}
            </script>
        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock pageContent %}