{% extends "base.html" %}

{% block pageContent %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <img class="shadow-2-strong rounded-5 img-fluid" src="media\default\12345.jpg" alt="image">
        </div>
        <div class="col-lg-6 col-md-12">
            <h2 class="mt-3 mt-lg-0 text-warning fw-bold fs-1">CODERSHUB</h2>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="fs-4">
                            We at CODERSHUB offer developers and students the ability to explore and discover various open-source projects, enabling them to learn from existing code, gain insights into best practices, and leverage reusable components. It serves as a knowledge-sharing platform, fostering collaboration and innovation within the developer community. Developers can contribute to existing projects by submitting bug fixes, implementing new features, or proposing enhancements through pull requests, ultimately improving the overall quality and functionality of the shared codebase.
                        </p>
                    </div>
                </div>
            </div>
            
            {% if not user.is_authenticated %}
                <button class="btn btn-warning shadow-3-strong rounded-4">
                    <a class="text-black fw-bold fs-5" href="{% url 'register-user' %}">Register Now</a>
                </button>
            {% endif %}
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <h2 class="text-info fw-bold fs-1">About Us</h2>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="fs-4">
                            Our programming repository website serves as a vital resource for developers, empowering them to share, discover, and collaborate on code, fostering innovation, knowledge sharing, and collective problem-solving within the programming community. It provides a vast collection of repositories where developers can host their code, making it easily accessible to others for reference, contribution, and collaboration. These repositories encompass a wide range of programming languages, frameworks, libraries, and tools, catering to diverse development needs.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <img class="shadow-4-strong rounded-5 img-fluid" src="media/default/computer.webp" alt="image">
        </div>
    </div>
</div>
{% endblock pageContent %}