{% extends 'base.html' %} {% block pageContent%}

<div class="container-fluid justify-content-center pt-5">
    <div class="row justify-content-center">
        <div class="col-lg-7 col-md-10 col-sm-12 col-xs-12">
            <div class="card shadow-2-strong rounded-4">
                <div class="card-header">
                    <div class="h5 card-title fw-bold">My Profile</div>
                </div>

                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="text-center">
                                    <img src="{{ user.profile.avatar.url }}" alt="User-image" id="user-img-profile" class="img img-fluid">
                                    <a href="{% url 'update-avatar' %}" class="btn btn-primary mt-3">Update Avatar</a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h3>Profile Information</h3>
                                <dl class="row">
                                    <dt class="col-sm-3 text-md-end">Fullname:</dt>
                                    <dd class="col-sm-9">{{ user.first_name }} {{ user.profile.middle_name }} {{ user.last_name }}</dd>
                    
                                    <dt class="col-sm-3 text-md-end">Email:</dt>
                                    <dd class="col-sm-9">{{ user.email }}</dd>
                    
                                    <dt class="col-sm-3 text-md-end">Username:</dt>
                                    <dd class="col-sm-9">{{ user.username }}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card-footer">
                    <div class="d-flex w-100 text-end justify-content-center">
                        <a href="{% url 'update-profile' %}" class="btn btn btn-primary btn-sm bg-gradient rounded-4">Update Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock pageContent%}